{% extends 'UI/base/base.html' %}

{% block content %}
<!-- Page Content -->
<main class="main">
    <div class="container">
        <div class="d-flex p-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://source.unsplash.com/LAaSoL0LrYs/1920x1080" alt="Card image cap">
                        <div class="card-body">
                            <div class="row" style="margin:0">
                                <h5 class="card-title"><a href="{% url 'project_detail' project.title %}">{{ project.title }}</a></h5>
                            </div>
                            <p class="card-text">{{ project.description }}</p>
                            <a href="{% url 'project_detail' project.title %}" class="btn btn-primary">
                                View  <i class="nested-icon fas fa-external-link-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
