{% extends 'UI/base/base.html' %}

{% block content %}
<!-- Page Content -->
<main class="main">
    <div class="container">
        <div class="d-flex p-2">
            <div class="row filterRow">
                <div style="float: right;">
                    <select id="tags" class="filter" multiple="multiple">
                    {% for k in tags %}
                        <option>{{ k.name }}</option>
                    {% endfor %}
                    </select>
                    <select id="project_type" class="filter" multiple="multiple">
                    {% for k in projecttypes %}
                        <option>{{ k.title }}</option>
                    {% endfor %}
                    </select>
                    <button onclick="applyFilters()"class="btn btn-default">Apply filters </button>
                    <script>
                        $(document).ready(function() {
                            function capitalizeEachWord(str) {
                                str = str.replace("_", " ");
                                return str.replace(/\w\S*/g, function(txt) {
                                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                                });
                            }

                            $('#tags, #project_type').multiselect({
                            buttonText: function(options, select) {
                              if (options.length === 0 || options.length === select[0].childElementCount) {
                                  return capitalizeEachWord(select[0].id) + ': all';
                              }
                              else if (options.length > 0) {
                                  return capitalizeEachWord(select[0].id) + ': ' + options.length + ' selected';
                              }
                               else {
                                   var labels = [];
                                   options.each(function() {
                                       if ($(this).attr('label') !== undefined) {
                                           labels.push($(this).attr('label'));
                                       }
                                       else {
                                           labels.push($(this).html());
                                       }
                                   });
                                   return capitalizeEachWord(select[0].id) + ': ' + labels.join(', ') + '';
                               }
                            }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="d-flex p-2">
            <div class="row equal projectCards">
                {% for project in projects %}
                <div class="py-2 col-md-6 d-flex col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="https://source.unsplash.com/LAaSoL0LrYs/1920x1080" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <div class="row" style="margin:0">
                                <h5 class="card-title"><a href="{% url 'project_detail' project.link %}">{{ project.title }}</a></h5>
                            </div>
                            <div style="margin-top:unset">
                                <a data-filter="{{project.type.title}}" href="#" style="font-size:12px; display:inline;">{{project.type.title}}</a>
                            </div>
                            <div style="margin-top:unset">
                                {% for tag in project.tags.all %}
                                    <a data-filter="{{tag.name}}" href="#" style="font-size:12px; display:inline; background-color: lightblue; padding: 3px 5px">{{tag.name}}</a>
                                {% endfor %}
                            </div>
                            <p style="margin-top: 1em;" class="card-text">{{ project.description }}</p>
                            <a href="{% url 'project_detail' project.link %}" class="btn btn-primary mt-auto">
                                View  <i class="nested-icon fas fa-external-link-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
